.view-header {
  border-bottom: 1px double #fff;
  .header-text {
    label {
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
}

.requests-section {
  .for-treatment{
    background-color: #f2f2f2;
    border: 1px dashed red !important;

  }



  .for-treatment,
  .pending, .guarantees {
    //border-bottom: 3px solid #fff;
    padding:20px;
    .section-header {
      //border-bottom: 1px solid #fff;
      font-size: 23px;
    }

    .req-for-treatment + .req-for-treatment,
    .req-pending + .req-pending,
    .curr-guarantees + .curr-guarantees {
      border-top: 1px solid #fff;
    }
  }
}
.ui-accordion-header{
  a{
    background-color: #f2f2f2;
  }
}
//.ui-accordion-content,
//.ui-accordion-header,
//accordion-content{
//  background-color: #f2f2f2 !important;
//
//}
//
//
//.requests-section * {
//  background-color: #e4e4e4;
//}


.guarantees-section {
  .active, .inactive {
    border-bottom: 3px solid #fff;

    .section-header {
      border-bottom: 1px solid #fff;
    }

    .active-guarantees + .active-guarantees,
    .inactive-guarantees + .inactive-guarantees {
      border-top: 1px solid #fff;
    }
  }
}
