.transform-buttons-container{
  display: flex;
  justify-content: space-between;
  .transform-buttons{
    flex-basis: 48%;
    background-color: #f50e00;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 7px;
  }
}

.accept-button{
  margin-bottom: 20px;
  background-color: green;
  height: 50px;
  border-radius: 7px;
}

.reject-container{
  display: flex;

  input{
    flex-grow: 1;
  }
  .cancelReason-send-button{
    flex-basis: 30%;
    margin-right: 20px;
    background-color: red;
  }
}
.guarantee-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .input-button-container{
    display: flex;
    input{
      flex-grow: 1;
      background: #fff;
    }
    button{
      flex-basis: 30%;
      margin-right:20px;
      background-color: green;
    }
  }
  label{
    font-size: 23px;
  }
}
.cancelReason-label{
  font-size: 23px;
}

.hide-btn {
  visibility: hidden;
  pointer-events: none;
}
