<div class="ui-layout-column" [ngClass]="user !== undefined ? user : ''">
  <header class="view-header text-center ui-space-tb-large">
    <label>
      ----------- {{userName[user]}} -----------
    </label>
    <div class="header-text ui-layout-column ui-space-t-medium" ui-layout-align="space-around center">
      <label>ניהול ערבויות</label>
      <p-accordion *ngIf="user==='user'" styleClass="green bgGrey" [style.width]="'100%'">

        <p-accordionTab header="בקשה לערבות חדשה">
          <!--<button class="accordion-tab-close">X</button>-->
          <guarantee-form></guarantee-form>
        </p-accordionTab>
      </p-accordion>
      <div *ngIf="user==='beneficiary'">
        <button>מיון לפי תאריך</button>
        <button>מיון לפי משהו אחר</button>
      </div>
    </div>
  </header>
  <main>
    <div class="requests-section" *ngIf="user !== 'beneficiary'">
      <div *ngIf="allRequests"  class="for-treatment ui-space-tb-large">
        <div class="section-header ui-space-tb-small text-bold">
          <label>
            דרושה פעולה
          </label>
        </div>
        <div class="req-for-treatment">
          <p-accordion styleClass="red">
            <p-accordionTab *ngFor="let req of allRequests | filterByKeyValue:'requestState':user">
              <p-header>
              <request-item [request]="req" (emitRequest)="openModal($event)">
                <!--<request-details [request]="req"></request-details>-->
              </request-item>
              </p-header>
              <app-history [request]="req"></app-history>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>

      <div class="pending">
        <div *ngIf="allRequests"  class="section-header ui-space-tb-small text-bold">
          <label>
            בהמתנה
          </label>
        </div>
        <div class="req-pending" >
          <p-accordion  styleClass="green">
            <p-accordionTab *ngFor="let req of allRequests | filterByKeyValue:'requestState':user:true">
              <p-header>
                <request-item [request]="req" (emitRequest)="openModal($event)">
                  <!--<request-details [request]="req"></request-details>-->
                </request-item>
              </p-header>
              <app-history [request]="req"></app-history>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>

      <div class="guarantees">
        <div class="section-header ui-space-tb-small text-bold">
          <label>
            היסטורית
          </label>
        </div>
        <div class="curr-guarantees">
          <p-accordion  styleClass="grey">
            <p-accordionTab *ngFor="let req of allGuaranties">
              <p-header>
                <request-item [request]="req" (emitRequest)="openModal($event)">
                </request-item>
              </p-header>
              <app-history [request]="req"></app-history>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>

    <div class="guarantees-section" *ngIf="user === 'beneficiary'">
      <div class="active ui-space-b-large">
        <div class="section-header ui-space-tb-small text-bold">
          <label>
            ערבויות פעילות
          </label>
        </div>
        <div class="active-guarantees" *ngFor="let req of allGuaranties">
          <request-item [request]="req" (emitRequest)="openModal($event)">
            <request-details [request]="req"></request-details>
          </request-item>
        </div>
      </div>
    </div>
  </main>
</div>
