<div class="acc-container">
  <div class="benef-container wrapper ui-space-lr-large"
       (click)="selected = 2" [class.selected]="selected === 2">
    <label class="title">המוטב</label>
    <app-guarantee-view class="content" user="beneficiary" (triggerModal)="openModal($event)"></app-guarantee-view>
  </div>
  <div class="bank-container wrapper ui-space-lr-large"
       (click)="selected = 1" [class.selected]="selected === 1">
    <label class="title">הבנק</label>
    <app-guarantee-view class="content" user="bank" [allRequests]="myRequests"
                        (triggerModal)="openModal($event)"></app-guarantee-view>
  </div>
  <div class="user-container wrapper ui-space-lr-large"
       (click)="selected = 0" [class.selected]="selected === 0">
    <label class="title">המבקש</label>
    <app-guarantee-view class="content" user="user" [allRequests]="myRequests"
                        (triggerModal)="openModal($event)"></app-guarantee-view>
  </div>
</div>

<p-dialog appendTo="body" [(visible)]="openFormDialog" dir="rtl"  [styleClass]="modalType"
          positionTop="10" draggable="false" modal="true" dismissableMask="true" (onHide)="clearData()">
  <guarantee-form [data]="data" (postNewRequest)="handleCreateRequest($event)"></guarantee-form>
</p-dialog>
