<div class="form">
  <header class="ui-space-medium">
    <label><strong>בקשת ערבות</strong> למילוי ע"י מבקש הערבות</label>
  </header>
  <div class="status-wizard ui-space-medium">
    <label class="form-label">סטטוס</label>
    <div class="ui-layout-column ui-space-r-large">
      <label class="ui-space-b-small">ברגע זה הטיפול נמצא אצל:</label>
      <app-wizard [options]="state"></app-wizard>
      <!--<p-selectButton [options]="state" [(ngModel)]="selectedState"-->
                      <!--multiple="false"></p-selectButton>-->
    </div>
  </div>

  <form [formGroup]="newGuarantee" novalidate *ngIf="!data">
    <div class="user-details ui-space-medium">
      <label class="form-label">פרטי לקוח</label>
      <div class="ui-layout-column ui-space-r-large">
        <input placeholder="שם הלקוח" formControlName="userName">
        <input placeholder="חפ / תז" formControlName="userId">
        <input placeholder="כתובת" formControlName="userAddress">
      </div>
    </div>
    <div class="guarantee-details ui-space-medium">
      <label class="form-label">פרטי הערבות</label>
      <div class="ui-layout-column ui-space-r-large">
        <div class="ui-layout double-input ui-space-b-small">
          <input placeholder="המוטב" formControlName="beneficiary">
          <input placeholder="כתובת" formControlName="beneficiaryAddress">
        </div>
        <input placeholder="מטרת הערבות" formControlName="purpose">
        <input placeholder="סכום" formControlName="amount">
        <div class="ui-layout double-input ui-space-t-small">
          <input placeholder="תאריך התחלת ערבות" formControlName="startDate">
          <input placeholder="תאריך סיום" formControlName="endDate">
        </div>
        <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)" auto="true" chooseLabel="נוסח ערבות"></p-fileUpload>
      </div>
    </div>
    <div class="actions ui-layout-column ui-space-medium">
      <button (click)="submitGuarantee()">שליחה - הגשת הבקשה</button>
      <button>ביטול הבקשה (במידה וטרם הונפקה ערבות)</button>
    </div>
  </form>
  <!-- Read Only Display -->
  <div class="read-only" *ngIf="data">
    <div class="user-details ui-space-medium">
      <label class="form-label">פרטי לקוח</label>
      <div class="ui-layout-column ui-space-r-large">
        <label placeholder="שם הלקוח">שם לקוח: {{userDetails.Name}}</label>
        <label placeholder="חפ / תז">חפ . תז: {{userDetails.customerID | fourDigits}}</label>
        <label placeholder="כתובת">כתובת: {{userDetails.Address}}</label>
      </div>
    </div>
    <div class="guarantee-details ui-space-medium">
      <label class="form-label">פרטי הערבות</label>
      <div class="ui-layout-column ui-space-r-large">
        <div class="ui-layout double-input ui-space-b-small">
          <label placeholder="המוטב">המוטב: {{data.beneficiaryName }}</label>
          <label placeholder="כתובת">כתובת: {{data.beneficiaryAddress}}</label>
        </div>
        <label placeholder="מטרת הערבות">מטרת הערבות: {{data.purpose}}</label>
        <label placeholder="סכום">סכום: {{data.amount}}</label>
        <div class="ui-layout double-input ui-space-t-small">
          <label placeholder="תאריך התחלת ערבות">תאריך התחלת ערבות: {{data.amount}}</label>
          <label placeholder="תאריך סיום">תאריך סיום: {{data.amount}}</label>
        </div>
      </div>
    </div>
    <div class="actions ui-space-medium">
      <label class="form-label">פעולות</label>
      <div [ngSwitch]="modalType" class="ui-layout-column ui-space-r-large">
        <button *ngSwitchCase="'user'" (click)="changeRequest('withdrawal')">ביטול</button>

        <ng-container *ngSwitchCase="'bank'">
          <div class="update ui-layout">
            <button (click)="changeRequest('updateBank')">עדכון</button>
            <p-dropdown [options]="requestsStates" [(ngModel)]="selectedRequestsStates"></p-dropdown>
          </div>
          <button (click)="changeRequest('accept')">אישור</button>
          <div class="ui-layout">
            <button (click)="changeRequest('reject')">דחיה</button>
            <input placeholder="סיבת הדחיה" [(ngModel)]="cancelReason">
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'beneficiary'">
          <div class="ui-layout">
            <button (click)="changeRequest('terminate')">ביטול</button>
            <input placeholder="סיבת הדחיה" [(ngModel)]="terminateReason">
          </div>
          <label class="text-bold">בקשה לדחיה</label>
          <div class="ui-layout">
            <label>שינוי סכום</label>
            <input type="number" placeholder="סכום מוקטן" [(ngModel)]="newValue">
          </div>
          <div class="ui-layout">
            <label>הארכת תוקף</label>
            <input placeholder="תוקף חדש" [(ngModel)]="newDate">
          </div>
          <button (click)="changeRequest('guaranteeUpdate')">דחיה</button>
        </ng-container>
      </div>
    </div>
    <div class="history ui-space-medium" *ngIf="data.history">
      <label class="form-label">היסטוריה</label>
      <div class="ui-layout-column ui-space-r-large">
        <app-history [history]="data.history.log"></app-history>
      </div>
    </div>
  </div>
</div>
