.form {
  color: #fff;
  header {
    strong {
      font-size: 2em;
    }
    font-size: 1.2em;
    border-bottom: 1px solid #fff;
  }

  .form-label {
    position: absolute;
    transform: rotate(90deg);
    font-weight: bold;
  }

  input {
    max-width: 150px;
    &+input {
      margin-top: 10px;
    }
  }
  label {
    &+label {
      margin-top: 10px;
    }
  }

  .double-input {
    input {
      &+input {
        margin-top: 0;
        margin-right: 10px;
      }
    }
    label {
      &+label {
        margin-top: 0;
        margin-right: 10px;
      }
    }
  }

  .user-details,
  .guarantee-details,
  .status-wizard {
    position: relative;
    border-bottom: 1px solid #fff;
  }

  .status-wizard {
    .form-label {
      top: 46px;
      right: 0;
    }
  }

  .user-details {
    .form-label {
      top: 60px;
      right: -14px;
    }
  }

  .guarantee-details {
    .form-label {
      top: 100px;
      right: -24px;
    }
  }
}
