<!--<p-tabView>-->
  <!--<p-tabPanel header="המבקש">-->
    <!--<div class="user-container wrapper">-->
      <!--<app-guarantee-view user="user"></app-guarantee-view>-->
    <!--</div>-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="הבנק">-->
    <!--<div class="bank-container wrapper">-->
      <!--<app-guarantee-view user="bank"></app-guarantee-view>-->
    <!--</div>-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="המוטב">-->
    <!--<div class="benef-container wrapper">-->
      <!--<app-guarantee-view user="beneficiary"></app-guarantee-view>-->
    <!--</div>-->
  <!--</p-tabPanel>-->
<!--</p-tabView>-->


<!-- accordion -->
<div class="user-container wrapper">
  <app-guarantee-view user="user"></app-guarantee-view>
</div>
